.fbShareBoxImg {
    
    background-repeat: no-repeat;
    background-size: auto auto;
    display: inline-block;
    height: 18px;
    width: 84px;
	float: left;
}
.fbShareBox {
    font-family: arial,sans-serif;
    font-size: 0.88em;
    overflow: hidden;
	float: left;	
}
.fbShareBoxCount {
    float: left;
}
.fbShareBoxCount {
    background-color: #FFFFFF;
    border-color: #CDD5E5;
    border-style: solid;
    border-width: 1px;
    height: 14px;
    margin-left: 6px;
    margin-top: 1px;
    padding: 1px 2px;
    position: relative;
}
.fbShareBoxCount i, .fbShareBoxCount u {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #D7D7D7 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 4px 5px 4px 0;
    display: block;
    height: 1px;
    left: -5px;
    position: absolute;
    top: 4px;
}
.fbShareBoxCount i {
    border-right-color: white;
    left: -3px;
    z-index: 5;
}